* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  height: 100vh;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

:root {
  --color-primary: #49c5b6;
  --color-secondary:#DF6C4F;
  --color-secondary-1:#41B3A3;
  --color-white: #FFFFFF;
  --color-black: rgb(41, 41, 41);
  --color-grey-0: #373d4b;
  --color-grey-1: #a3a8a4;
  --color-grey-2: #b2becd;
  --color-grey-3: #d8dee6;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(63, 62, 62, 0.849);
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  background-color: #dadada;
  min-width: 90rem;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: var(--color-primary);
  height: 8rem;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 95rem;
  position: relative;
}

nav h1 {
  color: var(--color-white);
}

nav img {
  width: 15rem;
  height: 25rem;
}

nav ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  right: 0;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dadada;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  gap: 10rem;
  width: 100%;
}

aside {
  height: 25rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  padding-top: 6rem;
}

.product-sec-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  background-color: #dadada;
}

.product-sec-1 .productcard {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px 1px #00000026;
          box-shadow: 0 1px 2px 1px #00000026;
  border-radius: 0.5rem;
  background-color: white;
}

.product-sec-1 .productcard h1 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

.product-sec-1 .productcard h2 {
  font-size: 2rem;
  font-weight: bold;
}

.product-sec-1 .productcard button {
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  width: 15rem;
  cursor: pointer;
}

.product-sec-1 .productcard img {
  width: 15rem;
  height: auto;
}

.main-container {
  display: -ms-grid;
  display: grid;
  width: 75%;
  -ms-grid-columns: 50rem 1fr;
      grid-template-columns: 50rem 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #f8f5f5;
  border-top: 2px solid var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
  height: 50rem;
  width: 100%;
  margin: 14rem 0;
  gap: 2rem;
}

.main .main-sec-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 45rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  background: linear-gradient(135deg, #5cbcb0 5%, #ffffff 5%, #ffffff 15%, #5cbcb0 15%);
  /* Start #5cbcb0 from 0 and end at 5%, Start #fff at 5% and end at 15%, Start #5cbcb0 again at 15% and end at 100% */
  background-size: 593.97px 593.97px;
  background-repeat: no-repeat;
}

.main .main-sec-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.5rem;
  min-width: 50rem;
}

.main h1 {
  text-align: center;
  font-size: 5rem;
  /* To avoid multiple instances */
}

.main h2 {
  font-size: 6rem;
  font-weight: bold;
}

.main h3 {
  font-size: 4rem;
}

.main a {
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--color-secondary);
}

.main button {
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.main button:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.main-sec-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 38rem;
  -webkit-box-shadow: 0 1px 2px 1px #00000026;
          box-shadow: 0 1px 2px 1px #00000026;
  border-radius: 0.5rem;
}

.main-sec-3 .main-card {
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px 1px #00000026;
          box-shadow: 0 1px 2px 1px #00000026;
  border-radius: 0.5rem;
}

.main-sec-3 img {
  max-width: 100%;
}

.shop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shoppingcart {
  width: 50%;
  -webkit-box-shadow: 0 1px 2px 1px #00000026;
          box-shadow: 0 1px 2px 1px #00000026;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--color-white);
}

.cart-item {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  font-size: 2rem;
  border-top: 1px grey solid;
  padding: 1rem;
}

.cart-item button {
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 0.5rem;
  padding: .3rem;
}

.cart-item button:hover {
  background-color: var(--color-grey-1);
}

.cart-item img {
  width: 10rem;
  height: 15rem;
}

.price-container {
  -webkit-box-shadow: 0 1px 2px 1px #00000026;
          box-shadow: 0 1px 2px 1px #00000026;
  border-radius: 0.5rem;
  width: 20%;
  height: 22rem;
  font-size: 2rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-white);
}

.price-container .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-container .taxes {
  padding: 2rem 0;
}

.price-container .estimate {
  border-top: 1px grey solid;
  padding: 1rem;
}

.price-container h1 {
  font-weight: bold;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10rem;
  font-size: 1.4rem;
  -webkit-box-shadow: 0 1px 2px 1px #00000026;
          box-shadow: 0 1px 2px 1px #00000026;
  border-radius: 1rem;
  background-color: var(--color-white);
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-container h1 {
  width: 20rem;
  text-align: center;
}

.btn-container button {
  width: 100%;
  font-size: 2rem;
  border-radius: 1rem;
  margin: .2rem;
}

.empty-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  font-size: 3rem;
  padding: 1.5rem;
  text-align: center;
  height: 75rem;
}

.empty-cart img {
  margin: 1rem;
  width: 45rem;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.empty-cart a {
  color: var(--color-secondary);
  font-size: 2.3rem;
  font-weight: bold;
  height: 2rem;
  padding: 0 1rem;
}

.empty-cart a:hover {
  background-color: #d4d3d3;
  -webkit-box-shadow: inset 0 0 0 0.125rem #2e2f32;
          box-shadow: inset 0 0 0 0.125rem #2e2f32;
}

.Footer {
  bottom: 0;
  font-size: 2rem;
  width: 100%;
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.Footer img {
  height: 4rem;
  width: 4rem;
}
/*# sourceMappingURL=style.css.map */